%h1 Welcome to your Inventory

%p
  this Inventory is about your
  = link_to 'Games', games_path

%section.release
  %header
    %h2 Release Version: 0.0.1
  %section.content
    %section.features
      %header
        %h3 Features
      %ul
        %li games are now sortable via their properties
        %li new design for games page
    / %section.bugfixes
    /   %header
    /     %h3 Bugfixes
    / %section.refactorings
    /   %header
    /     %h3 Refactorings
